.connectButton {
  background-image: linear-gradient(to bottom right, #db2777, #9333ea) !important;
}

.connectButton:hover {
  background-image: none !important;
  color: #db2777 !important;
  background-color: #ffff !important;
}

.connectButton:focus {
  outline: none !important;
  box-shadow: 0 0 0 4px #DDD6FE !important;
} 

.defaultConnectButton {
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%) !important;
  border-radius: 30px !important;
  border: 1px solid #8F9092 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #606060 !important;
  text-shadow: 0 1px #fff !important;
}

.defaultConnectButton > * {
  transition: transform .2s ease !important;
}

.defaultConnectButton:disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}

